<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.player.movie.mapper.MovieMapper">
    <sql id="recordSql">
        (
        movie_id,
        director,
        star,
        `type`,
        country_language,
        viewing_state,
        release_time,
        plot,
        update_time,
        movie_name,
        is_recommend,
        img,classify,
        source_name,
        source_url,
        create_time,
        local_img,
        label,
        original_href,
        description,
        target_href,
        use_status,
        score,
        category,
        ranks,
        user_id,
        douban_url
        )VALUES(
        #{movieId},
        #{director},
        #{star},
        #{type},
        #{countryLanguage},
        #{viewingState},
        #{releaseTime},
        #{plot},
        #{updateTime},
        #{movieName},
        #{isRecommend},
        #{img},
        #{classify},
        #{sourceName},
        #{sourceUrl},
        #{createTime},
        #{localImg},
        #{label},
        #{originalHref},
        #{description},
        #{targetHref},
        #{useStatus},
        #{score},
        #{category},
        #{ranks},
        #{userId},
        #{doubanUrl})
    </sql>

    <select id="findClassify"  resultType="Map">
        SELECT classify FROM movie GROUP BY classify
    </select>

    <select id="getKeyWord"  resultType="MovieEntity">
        SELECT * FROM movie_network WHERE is_recommend = '1' AND classify = #{classify} LIMIT 1
    </select>

</mapper>